<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBarra" />
                <binding name="BasicHttpBinding_ILocal" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IInventarioCarnes" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dsac.dyndns.info:8084/TrazabilidadCarnesService/Local.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocal"
                contract="TrazabilidadCarnesSericeLocal.ILocal" name="BasicHttpBinding_ILocal" />
            <endpoint address="http://dsac.dyndns.info:8084/TrazabilidadCarnesService/Barra.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBarra"
                contract="TrazabilidadCarnesService.IBarra" name="BasicHttpBinding_IBarra" />
            <endpoint address="http://dsac.dyndns.info:8084/TrazabilidadCarnesService/InventarioCarnes.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventarioCarnes"
                contract="ServiceInventarioCarnes.IInventarioCarnes" name="BasicHttpBinding_IInventarioCarnes" />
        </client>
    </system.serviceModel>
</configuration>