<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--add name="BalanzasContenedor" connectionString="metadata=res://*/Datos.Balanzas.csdl|res://*/Datos.Balanzas.ssdl|res://*/Datos.Balanzas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dsac.dyndns.info;initial catalog=dbINTCL_Balanzas;persist security info=True;user id=sa;password=dsac@2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="GestionContenedor" connectionString="metadata=res://*/Datos.Gestion.csdl|res://*/Datos.Gestion.ssdl|res://*/Datos.Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dsac.dyndns.info;initial catalog=DWH_VW_GestionDYS;persist security info=True;user id=sa;password=dsac@2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/-->
    <add name="BalanzasContenedor" connectionString="metadata=res://*/Datos.Balanzas.csdl|res://*/Datos.Balanzas.ssdl|res://*/Datos.Balanzas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=dbBalanzasQA;persist security info=True;user id=sa;password=dsac@2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GestionContenedor" connectionString="metadata=res://*/Datos.Gestion.csdl|res://*/Datos.Gestion.ssdl|res://*/Datos.Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=DWH_VW_GestionDYS;persist security info=True;user id=sa;password=dsac@2011;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GestionContenedor" connectionString="metadata=res://*/Datos.Gestion.csdl|res://*/Datos.Gestion.ssdl|res://*/Datos.Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-de5\ssde1;initial catalog=DWH_VW_GestionDYS;persist security info=True;user id=usr_con_rfcar;password=rfcar2013rf;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <!--Comentario Git-->
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <!--binding name="MessageSizeBasic" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" /-->
        <binding name="MessageSizeBasic" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00" sendTimeout="00:30:00" transferMode="StreamedRequest">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TrazabilidadCarne.Services.Local">
        <clear />
        <endpoint name="endpoint1" binding="basicHttpBinding" bindingConfiguration="MessageSizeBasic" contract="TrazabilidadCarne.Services.ILocal" />
      </service>
      <service name="TrazabilidadCarne.Services.Barra">
        <clear />
        <endpoint name="endpoint2" binding="basicHttpBinding" bindingConfiguration="MessageSizeBasic" contract="TrazabilidadCarne.Services.IBarra" />
      </service>
      <service name="TrazabilidadCarne.Services.InventarioCarnes">
        <clear />
        <endpoint name="endpoint3" binding="basicHttpBinding" bindingConfiguration="MessageSizeBasic" contract="TrazabilidadCarne.Services.IInventarioCarnes" />
      </service>
      <service name="TrazabilidadCarne.Services.InventarioRefresh">
        <clear />
        <endpoint name="endpoint4" binding="basicHttpBinding" bindingConfiguration="MessageSizeBasic" contract="TrazabilidadCarne.Services.IInventarioRefresh" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>